<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>SF-Pro-Display-Bold.otf</string>
		<string>SF-Pro-Display-Heavy.otf</string>
		<string>SF-Pro-Display-Medium.otf</string>
		<string>SF-Pro-Display-Regular.otf</string>
	</array>
	<key>NSUserTrackingUsageDescription</key>
	<string>Your permission helps us measure which campaigns bring people to WaveVibro and improve our advertising. You can use the app without allowing tracking.</string>
	<key>WaveAppsFlyerDevKey</key>
	<string></string>
	<key>WaveAmplitudeAPIKey</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mailto</string>
	</array>
</dict>
</plist>
